html, body {
    height: 100%;
}

.game-block {
    height: 100%;
    display: flex;
}

.game-container {
    height: 100%;
    color: darkblue;
    text-align: center;
    font-family: Verdana, Arial,sans-serif;
    margin: auto;
}

.game-start {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.game-start button.new {
    width: auto;
    height: auto;
    font-size: 16px;
    padding: 10px 40px;
    border:1px rgba(0,63,71,.2);
    border-radius: 3px 3px 3px 3px;
    background-color: rgba(1,151,171,1);
    color: rgba(0,63,71,1);
}

.game-start button.new:hover {
    color: white;
}

.game-canvas {
    position: relative;
    width: 700px;
    height: 600px;
    background: url("images/back_snow.jpg");
}

.mandarin {
    background-size: cover;
    background-image: url("images/mandarin.svg");
    cursor: pointer;
    display: none;
    position: absolute;
    height: 45px;
    width: 45px;
}

